
@{
    ViewBag.Title = "List of Employee";
}

<div ng-controller="EmployeeListController as vm">
    <h2>{{vm.title}}</h2>
    <button class="btn btn-primary" ng-click="vm.AddEmployee()">Add New Employee</button>
</div>


