@{
    ViewBag.Title = "NewEdit";
}

<div ng-controller="EmployeeNewEditController as vm">
    <h2>{{vm.title}}</h2>
    <span style="color: red;">* Required</span><br /><br />
    <form>
        <wizard on-finish="vm.finishedWizard()" on-cancel="vm.cancelledWizard()">
            <wz-step wz-title="Page 1" canexit="exitValidation">
                <p>Complete this form whenever a new employee is being initiated. Indicate all services and equipment needed.</p>
                <label>Today's Date</label>
                <datepicker date-format="MM/dd/y" placeholder="Date">
                    <input ng-model="vm.employee.createDate" type="text" />
                </datepicker>
                <div class="form-group">
                    <label>Hiring Manager's email address</label>
                    <input class="form-control" ng-model="vm.employee.hiringManagerEmail" placeholder="Your Answer" />
                </div>
                <div class="form-group">
                    <label>New Employee's Full Name</label>
                    <input class="form-control" ng-model="vm.employee.fullName" placeholder="Your Answer" />
                </div>
                <label>Position new employee is being hired for</label>
                <div ng-repeat="position in vm.jobPositions">
                    <label>
                        <input type="radio" ng-model="vm.employee.jobPositionId" ng-value="position.id">
                        {{position.name}}
                    </label><br />
                </div>
                <input ng-show="vm.employee.JobPosition == 31" ng-model="vm.employee.OtherJobPosition" placeholder="Your Answer" />
                <div class="form-group">
                    <label>Employee's Personal E-mail</label>
                    <input class="form-control" ng-model="vm.employee.personalEmail" placeholder="Your Answer" />
                </div>
                <label>Start Date</label>
                <datepicker date-format="MM/dd/y" placeholder="Date">
                    <input ng-model="vm.employee.startDate" type="text" />
                </datepicker>
                <div style="margin-top: 30px;">
                    <input class="btn btn-sm" type="submit" wz-next value="Continue" />
                </div>

            </wz-step>
            <wz-step wz-title="Page 2" canenter="enterValidation">
                <h1>Services & Equipment Needed</h1>
                <p>Here you will pick the services new employee will need to be enrolled in, necessary equipment and company he/she will be working for, as well as their role.</p>
                <div ng-repeat="serviceEquipment in vm.serviceEquipments">
                    <label><input type="checkbox" ng-model="serviceEquipment.selected"> {{serviceEquipment.name}} <input ng-show="serviceEquipment.id == 9" ng-model="vm.employee.OtherServiceEquipment" placeholder="Your Answer" /></label><br />
                </div>
                <h2>Additional Services</h2>
                <p>Please clarify if new employee is inheriting any equipment from a previous employee such as desks, phones, computers, etc. Elaborate on additional services needed not available from the options above.</p>
                <div class="form-group">
                    <input class="form-control" ng-model="vm.employee.additionalServices" placeholder="Your Answer" />
                </div>
                <div style="margin-top: 30px;">
                    <input type="submit" class="btn btn-sm" wz-previous value="Preview" />
                    <input type="submit" class="btn btn-sm" wz-next value="Next" />
                </div>
            </wz-step>
            <wz-step wz-title="Page 3">
                <h1>What company will employee work for?</h1>
                <p>This will determine access levels on the next step.</p>
                <div ng-repeat="company in vm.companies">
                    <label>
                        <input type="radio" ng-model="vm.employee.companyId" ng-value="company.id">
                        {{company.name}}
                    </label><br />
                </div>
                <input ng-show="vm.employee.companyId == 23" ng-model="vm.employee.OtherJobPosition" placeholder="Your Answer" />
                <h2>Additional Information</h2>
                <p>Please elaborate on whether user will have modified access to specific buildings.</p>
                
                <div class="form-group">
                    <input class="form-control" ng-model="vm.employee.companyOther" placeholder="Your Answer" />
                </div>
                <input type="submit" class="btn btn-sm" wz-previous value="Preview" />
                <input type="submit" class="btn btn-sm" wz-next value="Next" />
            </wz-step>
            <wz-step wz-title="Page 4">
                <p>Page 4</p>
                <input type="submit" class="btn btn-sm" wz-previous value="Preview" />
                <input type="submit" class="btn btn-sm" wz-next value="Next" />
            </wz-step>
        </wizard>
    </form>

    {{vm.employee}}

</div>


